.bg
{
    background-image: url("../img/bg.jpg");
}

header > nav > ul
{
    line-height: 60px;
    text-align: center;
}
header > nav > ul > li
{
    display:inline;
    margin-left: 2em;
}

.widthMax
{
    margin: 0 auto;
    width: 1020px;
}
.headerColor
{
    background-color: black;
}
.headerFontColor
{
    color: rgb(231, 194, 0);
}
.menu
{
    color: white;
}

header h1, header h2
{
    margin: 0 auto;
    text-align: center;
}
h1
{
    font-size: 6em;
    line-height: 2em;
    font-family: 'Josefin', serif;
}
h2
{
    font-size: 1em;
    line-height: 2em;
}
.linkBar
{
    font-size: 30px;
    background-color: rgb(193, 193, 193);
    color: rgb(101, 101, 101);
    justify-content: space-around;
}
#title
{
    height: 260px;
}
