.bg
{
    background-image: url("../img/bg.jpg");
}

header > nav > ul
{
    line-height: 60px;
    text-align: center;
}
header > nav > ul > li
{
    display:inline;
}

.widthMax
{
    margin: 0 auto;
    width: 1020px;
}
.headerColor
{
    background-color: black;
    color:rgb(231, 194, 0);
}
header h1, header h2
{
    margin: 0 auto;
    text-align: center;
}
h1
{
    font-size: 6em;
    line-height: 2em;
}
h2
{
    font-size: 1em;
    line-height: 2em;
}
.linkBar
{
    background-color: rgb(193, 193, 193);
    color: rgb(101, 101, 101);
}
#title
{
    height: 260px;
}
